aiohttp==3.7.4.post0
aioice==0.7.5
aiortc==1.2.0
async-timeout==3.0.1
attrs==21.2.0
av==8.0.3
cffi==1.14.5
chardet==4.0.0
crc32c==2.2.post0
cryptography==3.4.7
dnspython==2.1.0
idna==3.2
multidict==5.1.0
netifaces==0.11.0
numpy==1.21.0
opencv-python==4.5.2.54
pycparser==2.20
pyee==8.1.0
pylibsrtp==0.6.8
typing-extensions==3.10.0.0
websockets==9.1
yarl==1.6.3
